@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xpqvnx');
  src:  url('fonts/icomoon.eot?xpqvnx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xpqvnx') format('truetype'),
    url('fonts/icomoon.woff?xpqvnx') format('woff'),
    url('fonts/icomoon.svg?xpqvnx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}

body{

	background: #f8f9fa;
	font-family: "Arial";
	font-size: 14px;
	margin:0;
	padding: 0;

}
body>main{

	padding: 0;
}
body>main>div{

	display: inline-block;
	width: 40%;
	
}
body>main>div:first-child{
	padding: 2em;
	margin-top: -5em;
	width: 45%;

}
body>main>div:last-child{

	margin-top: 3em;
	margin-left: 5em;
	padding-top: 5em;
	text-align: right;
}

body>main>div>h1,h4{

	padding: 0 1em;
	margin:1em;
}
body>header>nav>ul,body>main>div>ul{
	text-align: right;
	margin-top: 2em;
	padding-right: 2em;
}
body>header>nav>ul>li,body>main>div>ul>li{
	display:inline-block;
	margin 0.5em 1.5em;
	padding: 1em;

}
body>main>div>ul{
	margin-top: 10em;
	text-align: left;
}
body>header>nav>ul>li>a, main>div>ul>li>a{
	color: black;
	font-size: 1.2em;
	text-decoration: none;
}
body>header>nav>ul>li>a.active{
	color: #a358e8;
}

ul>li.button{
	border:1px #a358e8 solid;
	border-radius: 5px;
	padding: 1em 3em;
	
}
ul>li.button a{
	color: #a358e8;
}

.primary-text{
	color: #3a0d71 !important;

}
.second-text{
	color:#6c7588 !important;
}

#logo{

	margin-right: 20%;
}
#logo>a{
	color: #a358e8 !important;
	font-size: 1.5em;
}
#logo>a>span{
	border-radius: 4px;
	color: #f8f9fa;
	background: #a358e8;
	margin-right: 0.6em;
	padding: 0.4em;
}











